<p>
  <strong>
    <%= comment.commenter %>:
  </strong>
  <%= comment.body %> 
  <%= link_to '', [comment.blog, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' },
               :class =>'icon-trash'  %>
</p>
 

